html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-page {
  padding: 6em;
  background-color: #00c7b6;
  background-image: url("https://www.transparenttextures.com/patterns/retro-intro.png");
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages {
  border: 15px
}

.chat-box {
  font-family:Arial, Helvetica, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.picture {  
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}